.section-hero {
  /* Nav */
  /* Global CSS */
  /* Slideshow container */
  /* Hide the images by default */
  /* The dots/bullets/indicators */
  /* Fading animation */
  /* 1 */
  /*end*/
  /*2*/
  /*end*/
  /*3*/
  /*end*/
  /*4*/
  /*end*/
  /*5*/
  /*end*/
}

.section-hero a {
  color: #262626;
  text-decoration: none;
}

.section-hero ul {
  list-style: none;
}

.section-hero .main-container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.section-hero .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 60px;
  padding: 20px 0;
  font-size: 13px;
}

.section-hero .main-nav .ms-logo {
  width: 110px;
}

.section-hero .main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-hero .main-nav ul li {
  padding: 0 10px;
}

.section-hero .main-nav ul li a {
  padding-bottom: 2px;
}

.section-hero .main-nav ul li a:hover {
  border-bottom: 2px solid #262626;
}

.section-hero .main-nav ul.main-menu {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-left: 20px;
}

.section-hero .fas.fa-shopping-cart::before {
  font-size: 32px;
}

.section-hero .fas.fa-search::before {
  font-size: 32px;
}

.section-hero * {
  margin: auto;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: -30px;
}

.section-hero body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 2;
  margin: auto;
}

.section-hero .slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.section-hero .mySlides {
  display: none;
}

.section-hero .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.section-hero .active, .section-hero .dot:hover {
  background-color: #717171;
}

.section-hero .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.section-hero .btn {
  cursor: pointer;
  background: #262626;
  color: #fff;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 10px;
  text-decoration: none;
}

.section-hero .btn:hover {
  opacity: 0.8;
}

.section-hero .fas.fa-greater-than::before {
  padding: 0px 0px 0px 10px;
  font-size: 16px;
}

.section-hero .showcase2 {
  height: 370px;
  border: 30rem;
  background: url("./img/hero avatar1.jpg") no-repeat center center/cover;
  /*margin-bottom: 20px;*/
  margin-right: 235px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 10px 10px 616px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 50px;
}

.section-hero .showcase-layout-xbok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  text-align: left;
}

.section-hero .showcase2 h2 {
  font-size: 30px;
  color: black;
  margin: -32px 10px 10px -600px;
}

.section-hero .showcase2 p {
  width: 400px;
  font-size: 18px;
  margin-top: 11px;
  line-height: 1.5;
  margin-left: -600px;
}

.section-hero .showcase2 .btn {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-hero .showcase3 {
  height: 370px;
  border: 30rem;
  background: url("./img/2.jpg") no-repeat center center/cover;
  margin-bottom: 20px;
  margin-right: 235px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 10px 10px 552px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 50px;
}

.section-hero .showcase-layout-xbok3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  text-align: left;
}

.section-hero .showcase3 h2 {
  font-size: 30px;
  color: black;
  margin: -32px 10px 10px -540px;
}

.section-hero .showcase3 p {
  width: 400px;
  font-size: 18px;
  margin-top: 11px;
  line-height: 1.5;
  margin-left: -540px;
}

.section-hero .showcase3 .btn {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-hero .showcase4 {
  height: 370px;
  border: 30rem;
  background: url("./img/3.jpg") no-repeat center center/cover;
  margin-bottom: 20px;
  margin-right: 235px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 10px 10px 552px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 50px;
}

.section-hero .showcase-layout-xbok4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  text-align: left;
}

.section-hero .showcase4 h2 {
  font-size: 30px;
  color: black;
  margin: -32px 10px 10px -540px;
}

.section-hero .showcase4 p {
  width: 400px;
  font-size: 18px;
  margin-top: 11px;
  line-height: 1.5;
  margin-left: -540px;
}

.section-hero .showcase4 .btn {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-hero .showcase5 {
  height: 370px;
  border: 30rem;
  background: url("./img/4.jpg") no-repeat center center/cover;
  margin-bottom: 20px;
  margin-right: 235px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 10px 10px 552px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 50px;
}

.section-hero .showcase-layout-xbok5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  text-align: left;
}

.section-hero .showcase5 h2 {
  font-size: 30px;
  color: black;
  margin: -32px 10px 10px -540px;
}

.section-hero .showcase5 p {
  width: 400px;
  font-size: 18px;
  margin-top: 11px;
  line-height: 1.5;
  margin-left: -540px;
}

.section-hero .showcase5 .btn {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-hero .showcase6 {
  height: 370px;
  border: 30rem;
  background: url("./img/5.jpg") no-repeat center center/cover;
  margin-bottom: 20px;
  margin-right: 235px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 10px 10px 552px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 50px;
}

.section-hero .showcase-layout-xbok6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  text-align: left;
}

.section-hero .showcase6 h2 {
  font-size: 30px;
  color: black;
  margin: -32px 10px 10px -540px;
}

.section-hero .showcase6 p {
  width: 400px;
  font-size: 18px;
  margin-top: 11px;
  line-height: 1.5;
  margin-left: -540px;
}

.section-hero .showcase6 .btn {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
/*# sourceMappingURL=heropage.css.map */